/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}


/* Header styles */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 100px;
}
img{
    float: left;
    max-width: 300px;
    max-height: 300px;
}
/* Section styles */
section {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px 0;
    padding: 20px;
}

/* Project styles */
.project {
    margin: 10px 0;
}

/* Hyperlink styles */
a {
    color: #007BFF;
    text-decoration: none;
}
